.body{
  background-color: #fff5f0;  
}

.Title{
text-align:center;
font-size: 45 px;
}

#about{
  text-align:center;
}

#O{
 text-align: right;
  {
#T{
 text-align: right;
  {
#TH{
 text-align: right;
  {
#F{
 text-align: right;
  {
#FI{
 text-align: right;
  {
#S{
 text-align: right;
  {
#SE{
 text-align: right;
  {
